nav {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    height: 48px;
    padding: 6px;
}

nav a {
    text-decoration: none;
    color: #000000DE;
    font-size: 13px;
    font-family: Arial,sans-serif;
}
nav img {
    height: 20px;
}

.icon-w{
    background-color: green;
    padding: 1px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
main {
    width: 50%;
    margin: auto;
    text-align: center;

}
/*main img {
    width: 272px;
    height: 92px;
}*/
.search {
    width: 80%;
    padding: 1em;
    display: flex;
    margin: auto;
    padding-top: 26px;
    
}
.search_icon {
    color: #9aa0a6;
    font-size: 14px;
}
.search_icon, .mic_icon {
    height: 20px;
    width: 20px;
    
    
    
}
.search_button, .mic_button {
    background-color: transparent;
    border: none;
}


.search input, .search input:focus {
    border-radius: 15px;
    border: 1px grey solid;
    width: 100%;
    height: 44px;
    background-color: transparent;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 5px 8px 0 16px;
    font-size: 14px;
    outline: none;
   
}
.buttons {
    margin-top: 1em;

}
.buttons button {
    padding: 1em;
    border: none;
    margin-left: 2px;
}